/* version mobile */
p{
    color: #0000ff;
    background-color: #00ffff;
}
/* pour les tablettes */
@media screen and (min-width: 375px) and (max-width: 1024px){
    p{
        background-color: #ffff00;
    }
}
/* pour les ordinateurs */
@media screen and (min-width: 1024px){
    p{
        background-color: #ffa500;
        color: #008000;
    }
}